* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    font-family:'Roboto', sans-serif;
}

.container{
    width: 1200px;
}

header{
    background: white;
    margin: 0 auto;
}
p{
    font-family:'Roboto', sans-serif;
}

.logo-testo{
    display: inline; font-family:'Roboto';
    font-size: 50px;
}

body{
    background: #F6F8F9;
}

.box1{
    margin-top: 30px;
    margin-left: 100px;
    background: white;
    border-radius: 5%;
    width: 950px;
    height: 850px;
}

.box1-text{
    padding-top: 60px;
    padding-left: 100px;
}

.task{
    text-align: center;
    color: white;
    background: #47ADF1;
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    line-height: 50px
}

.task2{
    text-align: center;
    border: 2px lightgray solid;
    color: lightgray;
    background: white;
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    line-height: 50px
}


